* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #94999d;
  font-family: 'Nunito', sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  background-color: #00ddd7;
  width: 100%;
  list-style: none;
  height:2em;
  padding-top:20px;
}

navbar ul li {
  padding-right: 10px;
  font-size: larger;
}

a {
  text-decoration: none;
  color: white;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 3em;

  box-sizing: border-box;
  color: #00ddd7;
  margin: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)),url(./img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h2  {
  text-align: center;
  color:#00ddd7;
  padding: 1.2em;
  font-size: 2em;
}

#projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}
img {
  width: 100%;
}
.project-tile {
  width: 45%;
  margin:5px;
}

@media (max-width: 640px) {
.project-tile {
 width: 100%;
}
}


#contact {
  bottom: 0px;
}